# API keys
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo

# LangChain / vector database
chroma_db/

# Rosetta运行结果
tool2_params/
tool3_relax/
tool4_mut_results/
tool5_summary/

# 临时文件
*.log
*.tmp

# OS
.DS_Store

ligand.mol2
protein.pdb
test.pdb
.gradio
clinerules

pdbs/*
output/*


# 忽略规则文件
.clinerules/rules.md

# 忽略 inputs 下的真实数据，但保留目录结构
inputs/ligand/*
!inputs/ligand/.gitkeep
inputs/pdbs/*
!inputs/pdbs/.gitkeep